*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   

}
ul{
    color: aliceblue;
    padding-left: 60px;
    width: 150px;
    height: 250px;
    background-color:  rgb(247, 114, 52);;
    list-style: none;
    justify-content: space-between;
    flex-direction:column;
    display: flex;
}
nav{
    color: aliceblue;
    margin-left:20px ;
    margin-top: 10px;
    height: 70px;
    width: 1500px;
    background-color: rgba(250, 112, 20, 0.982);
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none    ;
}
.list1{
    border-radius: 20px;
}
.list2{
    border-radius:20px ;
}
.list3{
    border-radius: 20px;

}
.list4{
    border-radius: 20px;
}